html {
    background-color: #011E62;
}

body {
    margin: auto;
    width: 900px;
    background-color: #FFFFFF;
}

/* navigation bar */
#container-top {
    width: 100%;
    height: 100px;
}

#nav-bar {
    width: 100%;
    height: 100%;
}

#uic-brand-mark {
    padding: 5px 0px 0px 5px;
    width:auto;
    height: 60px;
}

.nav-item {
    color:#011E62;
     /* top | right | bottom | left */
     padding: 0px 0px 0px 20px;
     font-size: large;
     width:100%;
}

i {
    color:#011E62;
}

a {
    text-decoration: none;
}

a:hover:not(.active) {
    text-decoration: underline;
}

#uic-svg {
    width: 50px;
    height: 50px;
}

/* footer */

#footer {
    text-align: center;
}